<div class="flex justify-center">
    
    <div class="w-form p-7 bg-white rounded shadow-xl">
        <p>BUMESHI内でのユーザー名を入力してください。ユーザー名は公開されます</p>
        <%= render 'shared/error_message' %>
        <%=form_with model: @user, class: 'space-y-6' do |f|%>
            <div>
                <%= f.label :name, 'ユーザー名' ,class:'font-medium text-gray-700'%>
                <%= f.text_field :name, class: 'appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm' %>
            </div>
            <%= f.submit '登録', class: 'group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500' %>
        <% end %>
    </div> 
</div>
