<div class="grid gap-3 grid-cols-1 md:grid-cols-4 ">
        <% @eateries.each do |eatery| %>
            
                <div class="max-w-full rounded overflow-hidden shadow-lg flex-grow bg-gray-50">
                    <%= link_to eatery do %>
                        <% if eatery.image.attached? %>
                            <%= image_tag eatery.image.variant(gravity: :center, resize:"640x320^", crop:"640x360+0+0"), alt: eatery.name %>
                        <% else %>
                            <img  src="https://pbs.twimg.com/media/EpA3s0zUwA0QZ1s?format=jpg&name=large" alt="<%= eatery.name %>">
                         <% end %>
                     <% end %>
                    <div class="grid gap-3 grid-cols-1 px-6 py-3">
                        <%= link_to eatery do %>
                            <div class="grid gap-1 grid-cols-12">
                                <!--1 row -->    
                                <h2 class="font-bold text-lg col-span-12"><%= eatery.name %></h2>
                                <!--2 row -->
                                <div class="col-span-1 mt-1">
                                    <svg class="w-4 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
                                    </svg>
                                </div>
                                <p class="text-base col-span-11"><%= eatery.addres %></p>
                                <!--3 row -->
                                <div class="col-span-1 mt-1">
                                    <svg class="w-4 mr-1 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                        <path d="M4 4a2 2 0 00-2 2v1h16V6a2 2 0 00-2-2H4z" />
                                        <path fill-rule="evenodd" d="M18 9H2v5a2 2 0 002 2h12a2 2 0 002-2V9zM4 13a1 1 0 011-1h1a1 1 0 110 2H5a1 1 0 01-1-1zm5-1a1 1 0 100 2h1a1 1 0 100-2H9z" clip-rule="evenodd" />
                                    </svg>
                                </div>
                                <div class="flex flex-wrap col-span-11">
                                    <% if eatery.payments.present? %>
                                        <% eatery.payments.each do |payment| %>
                                            <p class="button-attribute">
                                                <%= payment.name %>
                                            </p>
                                        <% end %>
                                    <% else %>
                                        <p class="button-attribute">
                                            現金のみ
                                        </p>
                                    <% end %>
                                </div>
                            </div>
                            <% end %>
                            <div class="grid gap-1 grid-cols-12">
                                <!--1 row -->  
                                <div class="col-span-12">
                                    <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2">
                                        <p class="text-base">
                                            <% eatery.categories.each do |category| %>
                                                #<%= category.name %>
                                            <% end %>
                                        </p>    
                                    </span>
                                </div>
                                <!--2 row -->
                                <div class="col-span-6">
                                    <%= render partial: 'eatery_info_source_name.html.erb', locals:{ eatery_url: eatery.url }%>
                                </div>
                                <%= link_to reviews_new_path(eatery_id: eatery["id"]), class: "col-span-6 text-center rounded text-red-600  hover:bg-gray-100" do %>
                                    コメントを投稿
                                <% end %>
                            </div>
                    </div>
                </div>
        <% end %>
    </div>