
<%= render partial: 'gnavi_search_box'%>

<div class="mx-auto px-2">
    <div class="grid gap-3 grid-cols-1 md:grid-cols-4">
        <% if params[:query].blank? %>
            <div class="px-6 py-4 max-w-full rounded overflow-hidden shadow-lg flex-grow text-center" >
                <p>ぐるなびに掲載されている情報を取得し、入力を簡略化できます</p>
            </div>
        <% else %>
            <% if @gnavi_eateries.blank? %>
                <div class="px-6 py-4 max-w-full rounded overflow-hidden shadow-lg flex-grow text-center" >
                    <h2>検索しましたが見つかりませんでした</h2>
                </div>
            <% else %>
                <% @gnavi_eateries.each do |eatery| %>
                    <div class="px-6 py-4 max-w-full rounded overflow-hidden shadow-lg flex-grow" >
                        <%= link_to eateries_new_path(name: eatery["name"], address: eatery["address"]) do %>
                            <h2 class="font-bold text-lg mb-2"><%= eatery["name"] %></h2>
                        <% end %>
                        <div class="md:mt-2 text-gray-800">
                            <p class="text-base">
                                <%= eatery["address"] %>
                            </p>
                        </div>
                        <div class="text-right"> 
                            <a class=" p-3 text-sm text-gray-400 hover:text-red-300 " href="<%= eatery["url"]%>">
                                データ提供元(ぐるなび)へ
                            </a>
                        </div>
                        <div class="flex justify-center mt-3 ">
                            <%= link_to eateries_new_path(name: eatery["name"], address: eatery["address"], latitude: eatery["latitude"], longitude: eatery["longitude"], url: eatery["url"]), class: "w-1/2 text-center p-2  rounded text-red-600 hover:bg-gray-100" do %>
                                登録する
                            <% end %>
                        </div>
                    </div>
                <% end %>
            <% end %>
            <div class="px-6 py-4 max-w-full rounded overflow-hidden shadow-lg flex-grow" >
                <h2 class="font-bold">探しているお店がなかった場合は手入力で登録をお願いします</h2>
                <div class="flex justify-center mt-3 ">
                    <%= link_to eateries_new_path, class: "w-full text-center p-2 bg-red-600 rounded text-gray-100 hover:bg-gray-100 hover:text-red-600" do %>
                        手入力で登録する
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
</div>