<div class="flex justify-center p-5">
    <%= render partial: 'gnavi_search_box'%>
</div>
<div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <div class="grid gap-3 grid-cols-1 md:grid-cols-4">
        <% @gnavi_eateries.each do |eatery|%>
                <div class="px-6 py-4 max-w-full rounded overflow-hidden shadow-lg flex-grow" >
                    <%= link_to eateries_new_path(name: eatery["name"], address: eatery["address"]) do %>
                        <h2 class="font-bold text-lg mb-2"><%= eatery["name"] %></h2>
                    <% end %>
                    <div class="md:mt-2 text-gray-800">
                        <p class="text-base">
                            <%= eatery["address"] %>
                        </p>
                    </div>
                    <div class="text-right"> 
                        <a class=" p-3 text-sm text-gray-400 hover:text-red-300 " href="<%= eatery["url"]%>">
                            ぐるなびへ
                        </a>
                    </div>
                    <div class="flex justify-center mt-3 ">
                        <%= link_to eateries_new_path(name: eatery["name"], address: eatery["address"]), class: "w-1/2 text-center p-2  rounded text-red-600 hover:bg-gray-100" do %>
                            登録する
                         <% end %>
                    </div>
                </div>
            
        <% end %>
    </div>
  </div>
