<div class="max-w-7xl mx-auto p-2">
    <h1 class="my-5 text-xl font-black text-red-600"><%= @eatery.name %></h1>
    <div class="grid gap-3 grid-cols-1 md:grid-cols-2 bg-gray-50 shadow-lg overflow-hidden  rounded">
        <figure class="w-full">
            <% if @eatery.image.attached? %>
                    <%= image_tag @eatery.image.variant(gravity: :center, resize:"1280x720^", crop:"1280x720+0+0"), alt: @eatery.name %>
            <% else %>
                <img src="https://pbs.twimg.com/media/EpA3s0zUwA0QZ1s?format=jpg&name=large" alt="<%= @eatery.name %>">
            <% end %>
        </figure>
        <div class="px-6 py-4">
            <table class="table-auto">
                <tbody>
                    <tr>
                        <td>
                            <svg class="w-4 mr-1 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
                            </svg>
                        </td>
                        <td><p class="text-base"><%= @eatery.addres %></p></td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                <svg class="w-4 mr-1 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                   <path d="M0 0h24v24H0V0z" fill="none"/>
                                    <path d="M18.92 6.01C18.72 5.42 18.16 5 17.5 5h-11c-.66 0-1.21.42-1.42 1.01L3 12v8c0 .55.45 1 1 1h1c.55 0 1-.45 1-1v-1h12v1c0 .55.45 1 1 1h1c.55 0 1-.45 1-1v-8l-2.08-5.99zM6.85 7h10.29l1.08 3.11H5.77L6.85 7zM19 17H5v-5h14v5z"/><circle cx="7.5" cy="14.5" r="1.5"/><circle cx="16.5" cy="14.5" r="1.5"/>
                                </svg>
                            </p>
                        </td>
                        <td>
                            <p>
                                <%= @eatery.parking %>台くらい駐車可能
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <svg class="w-4 mr-1 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                <path d="M4 4a2 2 0 00-2 2v1h16V6a2 2 0 00-2-2H4z" />
                                <path fill-rule="evenodd" d="M18 9H2v5a2 2 0 002 2h12a2 2 0 002-2V9zM4 13a1 1 0 011-1h1a1 1 0 110 2H5a1 1 0 01-1-1zm5-1a1 1 0 100 2h1a1 1 0 100-2H9z" clip-rule="evenodd" />
                            </svg>
                        </td>
                        <td>
                            <div class="flex flex-wrap">
                                <% if @eatery.payments.present? %>
                                    <% @eatery.payments.each do |payment| %>
                                        <p class="button-attribute">
                                            <%= payment.name %>
                                        </p>
                                    <% end %>
                                <% else %>
                                    <p class="button-attribute">
                                        現金のみ
                                    </p>
                                <% end %>
                            </div>  
                        </td>
                    </tr>
                 </tbody>
            </table>
            <div class="py-4">
                <span class="inline-block bg-grey-lighter rounded-full py-1 text-sm font-semibold text-grey-darker ">
                    <p class="text-base">
                        <% @eatery.categories.each do |category| %>
                            #<%= category.name %>
                        <% end %>
                    </p>    
                </span>    
            </div>
            <div class="grid grid-cols-2">
                <%= render partial: 'eatery_info_source_name.html.erb', locals:{ eatery_url: @eatery.url }%>
                <%= link_to reviews_new_path(eatery_id: @eatery.id), class: " text-center rounded text-red-600 hover:bg-gray-100" do %>
                            コメントを投稿
                <% end %>
            </div>
            
        </div>
    </div>
</div>
<%= render partial: 'eatery_reviews_list' %>