<div class="max-w-7xl mx-auto">
    <% @reviews.each do |review| %>
        <div class="mt-4  mx-2 flex justify-start">
            <div class="flex-shrink-0 w-12 mr-4">
                <div class="items-center">
                   <%= render partial: 'shared/show_user_avatar', locals:{avatar: review.user.avatar}%>
                </div>
            </div>
            <div class="flex-shrink shadow-lg p-4 rounded w-full bg-gray-50">
                <h2 class="font-bold text-gray-900"><%= review.user.name %>さん</h2>
                <div class="text-gray-500">
                    <p><span class="bg-gray-200 rounded px-2 mr-2">予算</span><%= review.price%>円　<span class="bg-gray-200 rounded px-2 mr-2">評価</span><%= review.rate%></p>
                </div>
                <p class="break-all"><%= review.comment %></p>
              
               
                <% if review.image.attached? %>
                    <figure class="mt-2 mx-auto">
                        <%= image_tag review.image.variant(resize_to_limit: [300, 300]), class: "rounded" %>
                    </figure>
                <% end %>
                <div class="action-menu mt-2">
                    <% if  @current_user.id.present? AND review.user.id == @current_user.id%>
                        <%= link_to review, method: :delete, data: {confirm: 'レビューを削除してもよろしいですか？'} do %>
                            <svg class="w-4 text-gray-400 hover:text-red-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                            </svg>
                        <% end %>
                    <% end %>
                </div> 
            </div>
        </div>
    <% end %>
</div>
