<!DOCTYPE html>
<html>
  <head>
    <title>BUMESHI!!</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body class="bg-gray-50">
    <header>
      <nav class="bg-red-600">
        <div class="max-w-7xl mx-auto px-2 md:px-6 lg:px-8">
          <div class="relative flex items-center justify-between h-16">
            <%= render partial: 'layouts/header/parts/mobile_menu_btn' %>
            <div class="flex-1 flex items-center justify-center md:items-stretch md:justify-start">
              <%= render partial: 'layouts/header/parts/navbar_brand' %>
              <%= render partial: 'layouts/header/parts/navbar_items' %>
            </div>
            <%= render partial: 'layouts/header/parts/navbar_search_box' %>
            <div class="absolute inset-y-0 right-0 flex items-center pr-2 md:static md:inset-auto md:ml-6 md:pr-0">
              <div class="flex-1 ml-3 relative">
                  <%= render partial: 'layouts/header/parts/user_icon' %>
                  <%= render partial: 'layouts/header/parts/user_menu' %>
              </div>
            </div>
          </div>
          <%= render partial: 'layouts/header/parts/mobile_search_box' %>
        </div>
        <%= render partial: 'layouts/header/parts/mobile_menu_items' %>
      </nav>
      <script>
        function toogleMenu() {
          document.getElementById("mobile-menu__open").classList.toggle("hidden");
          document.getElementById("mobile-menu__close").classList.toggle("hidden");
          document.getElementById("mobile-menu__items").classList.toggle("hidden");
        }
        
        document.getElementById("mobile-menu__open").addEventListener(
          "click",
          () => {
            toogleMenu();
          },
          false
        );
        document.getElementById("mobile-menu__close").addEventListener(
          "click",
          () => {
            toogleMenu();
          },
          false
        );
        
        document.getElementById("user-icon").addEventListener(
          "click",
          () => {
            document.getElementById("user-menu").classList.toggle("hidden");
          },
          false
        );
      
      </script>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>